header {
	font-family: "Arial", bold;
}

#nav-logo {
	display: flex;
	align-items: center;
	justify-content: space-between;
}

#nav-logo img {
	width: 100px;
	height: 100px;
	margin-left: 7rem;
}

#nav-logo span {
	font-size: 35px;
	color: #585858;
	text-align: center;
	flex-grow: 1;
}

#nav-elementos {
	display: flex;
	justify-content: center;
	color: #fff;
	background-color: #902121;
}

#nav-elementos a {
	margin: auto;
	font-size: 20px;
	font-weight: bolder;
}

#nav-elementos a:hover {
	color: #000;
}

/* Responsiveness for smaller screens */
@media (max-width: 1000px) {
	#nav-logo img {
		margin-left: 0;
	}
}

@media (max-width: 768px) {
	#nav-logo img {
		width: 75px;
		height: 75px;
		margin-left: 2rem;
	}

	#nav-logo span {
		font-size: 25px;
	}
}

@media (max-width: 576px) {
	#nav-logo img {
		width: 50px;
		height: 50px;
		margin-left: 1rem;
	}

	#nav-logo span {
		font-size: 20px;
	}
}

@media (max-width: 400px) {
	#nav-logo span {
		font-size: 15px;
	}
}
